table{
    flex-grow: 1;
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px solid grey;
}

body{
    background-color: #171717;
}

.playButtons{
    text-align: center;
    margin-top: 5px;
}

.pButPl{
    background-color: darkgreen;
    width: 125px;
    height: 50px;
    color:white;
    font-size:20px;
    border: 0;
}

.pButPl:active{
    background-color: rgb(1, 70, 1);
}

.pButSt{
    background-color: darkred;
    width: 125px;
    height: 50px;
    color:white;
    font-size:20px;
    border: 0;
}

.pButSt:active{
    background-color: rgb(77, 0, 0);
}

.pSelect{
    background-color: rgb(6, 6, 184);
    width: 125px;
    height: 25px;
    color:white;
    border: 0;
}

td:hover{
    background-color: #505050;
}

/* Стили для контейнера */
.container {
    display: flex;
    justify-content: space-between; /* Распределяет элементы по краям */
    width: 100%; /* Занимает всю ширину страницы */
    max-width: 1200px; /* Ограничьте ширину, если нужно */
    margin: 0 auto; /* Центрирует контейнер на странице */
}

/* Стили для боковых элементов */
.left-side, .right-side {
    width: 200px; /* Фиксированная ширина боковых блоков */
    text-align: center; /* Центрирование содержимого */
    color: white; /* Цвет текста, чтобы он был виден на тёмном фоне */
    font-size: 32px;
}

.etherB{
    background-color: darkgreen;
    width: 150px;
    height: 75px;
    color:white;
    font-size: 20px;
    border: 0;
}

.etherB:active{
    background-color: rgb(1, 70, 1);
}

.pMainTact{
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.pTact{ /*Параграфы с кнопками тактик*/
    margin: 0;
    padding: 10px;
}

.bTact{ /*Кнопки тактик*/
    margin-top: 0;
    background-color:rgb(92, 92, 92);
    width: 200px;
    height: 50px;
    color:white;
    font-size: 20px;
    border: 0;
}